body {
    font-family: "effra", sans-serif;
}

.navigation-link {
    font-size: 20px;
    color: #333232;
    border: 2px solid transparent;
}

.navigation-link:hover{
    text-decoration: none;
    color: #e17c63;
    transition: 0.5s ease;
}

.home-image {
    margin-top: .25em;
    margin-bottom: 4em;
}

h1 {
    font-weight:700;
}

h2 {
    font-weight:600;
    font-size: 22px;
    color: #e17c63;
}

p {
    font-size: 14px;
}